*.jpg
*.jpeg
*.png
*.tiff
*.mpo
*.webp
*.dng
*.bmp
*.pfm
*.tif
*.heic

# 忽略所有常见视频格式
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.mpg
*.mpeg
*.3gp
*.ogg
*.ts
*.m2ts
*.rmvb

*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.bz2
*.xz
.idea/
